{{ form_start(form) }}
<div class="container">
    {{ form_row(form.name , {'label':'Nom équipement'}) }}
    {{ form_row(form.classrooms, {'label':'Salles'}) }}
</div>
<button class="btn btn-outline-primary">Ajouter</button>
{{ form_end(form) }}