{% extends 'base.html.twig' %}

{% block title %}Edit Equipments{% endblock %}

{% block body %}
    <h1>Edit Equipments</h1>

    {{ include('equipments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipments_index') }}">back to list</a>

    {{ include('equipments/_delete_form.html.twig') }}
{% endblock %}
