* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.left-menu {
    background-color: #3ca3f5;
    height: 100%;
    min-height: 20px;
    min-width: 15px;
    padding-top: 15px;
}

.full-height {
    height: auto;
}

.menu-link {
    display: inline;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}

.left-menu-div a {
    color: whitesmoke;
}

.left-menu-div a:hover {
    color: #dcdde1;
    text-decoration: none;
}

.color {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.menu-subtitle{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.p-bold
{
    font-weight: bold;
}