<form method="post" action="{{ path('formation_ue_delete', {'id': formation_ue.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation_ue.id) }}">
    <button class="btn">Delete</button>
</form>
