<div style="text-align: center" class="left-menu-div">
    <a href="{{ path('classroom_index') }}"><h3 class="menu-link">Salles</h3><i class="fa fa-chalkboard fa-2x"></i></a>
    <hr>
    <a href="{{ path('equipments_index') }}"><h3 class="menu-link">Equipements</h3><i class="fa fa-desktop fa-2x"></i></a>
    <hr>
    <a href="{{ path('afficher_planning') }}"><h3 class="menu-link">Mon planning</h3><i class="fa fa-calendar fa-2x"></i></a>
    <hr>
    <a href="{{ path('formation_index') }}"><h3 class="menu-link">Formations</h3><i class="fa fa-graduation-cap fa-2x"></i></a>
</div>