{% extends 'base.html.twig' %}

{% block title %}Edit Classroom{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier salle {{ classroom.name }}</h1>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                {{ include('classroom/_edit_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
