{% extends 'base.html.twig' %}


{% block menu %}

{% endblock %}

{% block body %}
    <div class="jumbotron" style="text-align: center">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4">
                <h1 class="display-6">Administration </h1>
                <hr>
            </div>
            <div class="col-md-4 col-lg-4"></div>
        </div>
    </div>
{% endblock %}
