{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card p-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Modifier un étudiant {{ etudiant.RFID.nom }}  {{ etudiant.RFID.prenom }}</h1>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            {{ include('etudiant/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
