{% extends 'base.html.twig' %}

{% block title %}Nouvel Etudiant{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card p-5">
            <div class="card-body">
                <h1>Ajouter un étudiant dans une promotion</h1>

                {{ include('etudiant/_form.html.twig') }}

                <a href="{{ path('etudiant_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
